* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100%;
    width: auto;
    background: url("../img/portal.jpg") no-repeat center center fixed;
    position: absolute;
}

.headline{
    padding: 0;
    font-size: 100px;
    color: white;
    position: fixed;
    top: 65%;
    left: 13%;
    overflow: auto;
}

@media  (max-width: 1435px) {
    .headline{
        font-size: 59px;
        left: 20%;
    }
}