p{
    width: 960px;
    color: dimgrey;
    font-family: helvetica;
    border: 5px solid coral;
}

div{
    width: 960px;
    color: dimgrey;
    font-family: helvetica;
    border: 5px solid coral;
}

#target{
    color: #dd2358;
    font-style: italic;
    font-weight: bold;
}